html {
  font-size: 10px;


}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrap {
  min-height: 100vh;
  /* background-size: cover;
  background-image: url('img/catbackground.jpg'); */
  padding-top: 30px;
}

.wrap::after {
  content: "";
  background: url('img/catbackground.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header {
  text-align: center;
  /* padding-top: 30px; */
  background-color: #BFBF3F;
  margin: 30px 200px 30px 200px ;
  border: .4rem solid black;


}

h2 {
  color: black;
  font-size: 80px;
  font-family: 'Chewy', cursive;
  letter-spacing: .3rem;
  margin: 10px;
  text-shadow: 2px 2px #42f4bf;

}

p {
  color: black;
  font-size: 40px;
  font-family: 'Carter One', cursive;
  margin: 10px;
  text-shadow: 2px 2px #42f4bf;

}

.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-top: 100px;

}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  /* background: rgba(0,0,0,0.4); */
  background:  #BFBF3F;

}

.playing {
  transform: scale(1.1);
  border-color: #FB8136;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
  text-shadow: 0 0 .5rem black;
}

.sound {
  font-family: 'Chewy', cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: black;
}

footer {
  background-color: #f44298;
  height: 30px;
}

footer a {
  padding-left: 15px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
